---
layout: default
---

<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>

<p>The <a href="https://librarycarpentry.org/blog/2018/10/top-ten-fair-announcement/">Top 10 FAIR Data & Software Global Sprint</a> was held online over the course of two-days (29-30 November 2018), where participants from around the world were invited to develop brief guides (stand alone, self paced training materials), called "Things", that can be used by the research community to understand FAIR in different contexts but also as starting points for conversations around FAIR. The idea for "Top 10 Data Things" stems from <a href="https://www.ands.org.au/working-with-data/skills/23-research-data-things/10-medical-and-health-things">initial work</a> done at the Australian Research Data Commons or ARDC (formerly known as the Australian National Data Service).(<a href="/Top-10-FAIR/about/">Read More</a>)</p>

<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    </br>
  </div>
{% endfor %}
{% endif %}
</div>
